# device specific syscalls
# extension of services/mediacodec/minijail/seccomp_policy/mediacodec-seccomp-arm.policy
_llseek: 1
eventfd2: 1
getcwd: 1
getdents64: 1
pselect6: 1
recvfrom: 1
sendto: 1
sysinfo: 1
